@import url("https://use.typekit.net/mva4otb.css");
body {
  font-family: "Aisha Latin", Arial, Helvetica, sans-serif; }

header {
  height: auto;
  background: url("/images/krista-mangulsone-53122-unsplash.jpg") no-repeat center center;
  background-size: cover;
  color: #002d7f; }
  header img {
    height: 25vh;
    margin: 2vh 0; }
  header a {
    color: #002d7f;
    text-shadow: 2px 2px 8px #ffffff;
    font-size: 200%;
    margin-bottom: 2vh; }
  header a.active {
    text-decoration: underline;
    font-size: 220%; }

#headerholder {
  padding-top: 2vh; }

fieldset p {
  display: inline;
  margin: 1vh 0; }

label {
  padding: 2px; }
  label img {
    width: 4rem;
    background-color: #ffffff;
    padding: 1px; }
  label img:hover {
    padding: 5px; }

.selectedIcon img {
  background-color: #ffd699;
  padding: 4px;
  color: #002d7f; }

.results {
  overflow: auto; }
  .results img {
    width: 200px;
    height: 200px; }

input[type="radio"] {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.search-bar {
  background-color: #002d7f;
  padding: 1rem; }

.invisible {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

#zipcode {
  border-radius: 5px;
  height: 2em; }

.error {
  color: red; }

#submit {
  text-shadow: 1px 1px 8px #ffffff !important;
  background-color: #002d7f;
  border: none;
  color: #ffffff;
  text-decoration: underline;
  font-size: 1.7rem;
  margin-left: 2rem; }

.resultsheaderbkg {
  background-color: #ffd699bb;
  color: #002d7f;
  font-size: 2rem; }

.resultsheader {
  padding: 1vh 15px; }

footer {
  background-color: #002d7f;
  color: #ffd699;
  font-size: .8rem;
  padding: 1rem; }
  footer a {
    color: #ffd699; }

#search {
  display: none !important; }
  @media (min-width: 768px) {
    #search {
      display: block !important; } }

@media (min-width: 768px) {
  #mobilesearch {
    display: none !important; } }

#dropdown {
  font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: #ffd699; }

.nodisplay {
  display: none !important; }

.blockdisplay {
  display: inline !important; }
