// commonly repeated values
@import url("https://use.typekit.net/mva4otb.css");

$fontstack2: "Aisha Latin", Arial, Helvetica, sans-serif;
$fontstack1: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;



$greydark: #333333;
$greylight: #DDDDDD;
$paleorange: #ffd699;
$paleorangetransparent: #ffd699bb;
$deepblue: #002d7f;
$greytransp:rgba(0, 0, 0, 0.8);



