body{
    font-family: $fontstack2;
    
}

header{
    height: 25vh;
    background: url("/images/krista-mangulsone-53122-unsplash.jpg") no-repeat center center;
    background-size: cover;
    color: $deepblue;

#logo{
        font-family: $fontstack1;
        text-shadow: 2px 2px 8px #ffffff;
    }
    a{
        color: $deepblue;
        text-shadow: 2px 2px 8px #ffffff;
    }

    a.active{
        text-decoration: underline;
        font-size: 110%;
    }

    
}

#headerholder{
    padding-top: 7vh;
}

fieldset{
    p{
        display: inline;
    }
}

label{
    padding: 2px;
    img{
        width: 4rem;
        background-color: #ffffff;
        padding:1px;
    }
    img:hover{
        padding: 5px;
    }
}

.selectedIcon{
    img{
    background-color: $paleorange;
    padding:4px;
    color:$deepblue;
    }
}

.results{
    overflow: auto;
    img{
        width: 200px;
        height: 200px;
    }
}
//this makes the radio buttons invisible but still selectable
input[type="radio"]{ /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.search-bar{
     background-color: $deepblue;
     padding: 1rem;
}

//this makes the radio buttons invisible but still selectable
.invisible{ /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

#zipcode{
    border-radius: 5px;
    height: 2em;
}

.error{
    color: red;
}

#submit{
    text-shadow: 1px 1px 8px #ffffff !important; 
    background-color: $deepblue;
    border: none;
    color:#ffffff;
    text-decoration: underline;
    font-size: 1.7rem;
    margin-left: 2rem;
}

.resultsheaderbkg{
    background-color: $paleorangetransparent;
    color: $deepblue;
    font-size: 2rem;
}

footer{
    background-color: $deepblue;
    color: $paleorange;
    font-size: .8rem;
    padding: 1rem;
    a{
        color:$paleorange;
    }
}