body{
    font-family: $fontstack1;
    
}

header{
    height: auto;
    background: url("/images/krista-mangulsone-53122-unsplash.jpg") no-repeat center center;
    background-size: cover;
    color: $deepblue;
    
    img{
        height: 25vh;
        margin: 2vh 0;
    }

    a{
        font-family: $fontstack2;
        color: $deepblue;
        text-shadow: 2px 2px 8px #ffffff;
        font-size: 200%;
        margin-bottom: 2vh;
    }

    a.active{
        text-decoration: underline;
        font-size: 220%;
    }

    
}

#headerholder{
    padding-top: 2vh;
}

fieldset{
    p{
        display: inline;
        margin: 1vh 0;
    }


}

label{
    padding: 2px;
    img{
        width: 4rem;
        background-color: #ffffff;
        padding:1px;
    }
    img:hover{
        padding: 5px;
    }
}

.selectedIcon{
    img{
    background-color: $paleorange;
    padding:4px;
    color:$deepblue;
    }
}

.results{
    overflow: auto;
    img{
        width: 200px;
        height: 200px;
    }
    tr{
        color:$deepblue;
    }

    th{
        font-size: 1rem;
    }
    td{
        font-size: .8rem;
    }

    th:first-child{
        padding-left: 2rem;
    }
    td:first-child{
        padding-left: 2rem;
    }
    th:last-child{
        padding-right: 2rem;
    }
    td:last-child{
        padding-right: 2rem;
    }

    @include mq(large){
        th{
            font-size: 1.8rem;
        }
        td{
            font-size: 1.6rem;
        }
        th:first-child{
            padding-left: 10rem;
        }
        td:first-child{
            padding-left: 10rem;
        }
        th:last-child{
            padding-right: 10rem;
        }
        td:last-child{
            padding-right: 10rem;
        }
    }

    tr:nth-child(even) {
        background: $paleorangetransparent;
    }
    tr:nth-child(odd) {
        background: $deepbluetransparent;
    }


}
//this makes the radio buttons invisible but still selectable
input[type="radio"]{ /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.search-bar{
    font-family: $fontstack3;
     background-color: $deepblue;
     padding: 1rem;
}

//this makes the radio buttons invisible but still selectable
.invisible{ /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

#zipcode{
    border-radius: 5px;
    height: 2em;
}

.error{
    color: red;
}

#submit{
    text-shadow: 1px 1px 8px #ffffff !important; 
    background-color: $deepblue;
    border: none;
    color:#ffffff;
    text-decoration: underline;
    font-size: 1.7rem;
    margin-left: 2rem;
}

.resultsheaderbkg{
    background-color: $paleorangetransparent;
    color: $deepblue;
    font-size: 2rem;
}

.resultsheader{
    padding:1vh 15px;
    margin-bottom: 0 !important;
    

}

footer{
    background-color: $deepblue;
    color: $paleorange;
    font-size: .8rem;
    padding: 1rem;
    a{
        color:$paleorange;
    }
}


#search{
    display: none !important; 
    @include mq(medium){
        display: block !important;
    }
}



#mobilesearch{
    @include mq(medium){
        display: none !important; 
    }
}

#dropdown{
    font-size: 2em;
    color:$paleorange;
}



.nodisplay{
    display:none !important;
}
.blockdisplay{
    display: inline !important;
}